@font-face {
  font-family: "Caveat Brush";
  src: url("./assets/fonts/CaveatBrush-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

html {
  box-sizing: border-box;
  font-family: "Caveat Brush", cursive, "Times New Roman", Times, serif;
  font-size: 100%;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
  background-color: #ddd;
}

textarea,
button,
select,
input {
  font: inherit;
  outline: none;
  border: 1px solid #0005;
  border-radius: 0.35rem;
  background-color: #fff;
}

textarea:focus,
button:focus,
select:focus,
input:focus {
  outline: 3px solid #0003;
}

button,
input[type="text"],
textarea {
  padding: 0.5rem;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  font-size: small;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

button:active {
  filter: invert();
}

#resume-container {
  background-color: #fff;
  margin: 1.5rem auto;
  max-height: 29.7cm;
  max-width: 21cm;
  padding: 2.5rem;
  overflow: auto;
}

@media screen and (width < 22cm) {
  #resume-container {
    margin: 1rem auto;
    padding: 2rem;
  }
}

@media screen and (width < 21.5cm) {
  #resume-container {
    margin: 0.5rem auto;
    padding: 1.5rem;
  }
}

@media screen and (width < 21cm) {
  #resume-container {
    margin: 0 auto;
    padding: 1rem;
  }
}

@media (pointer: fine) {
  .grow-on-hover:hover,
  button:hover {
    transition: transform 150ms;
    transform: scale(1.1);
  }
}

@media (prefers-reduced-motion) {
  .grow-on-hover:hover,
  button:hover {
    transition: none;
  }
}

@media print {
  #app-container > * {
    display: none;
  }

  #app-container > #resume-container {
    display: block;
    padding: 0;
    margin: 0;
  }
}
